# A Quick Introduction to pandas

In this tutorial, you will get familiar with the minimal set of features from pandas that will render you operational for this course. If you want to dig deeper into the library, you can follow any of these tutorials:

1. [W3School Pandas Tutorial](https://www.w3schools.com/python/pandas/)
2. [Pandas Kaggle Course](https://www.kaggle.com/learn/pandas)

## 1. Brief Introduction
[pandas](https://pandas.pydata.org/) is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data in a fast, powerful and flexible way. It is built on top of NumPy. The name "pandas" is s short version of "Python for Data Analysis".

### Features
Some of the main features of pandas include:
* Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
* Intuitive merging and joining datasets
* Flexible reshaping and pivoting of datasets
* Hierarchical labeling of axes (possible to have multiple labels per tick)
* Robust IO tools for loading data from flat files (CSV and delimited), Excel files, databases, and saving/loading data from the ultrafast HDF5 format
* Time series-specific functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.


## 2. The Basics
As with other libraries, the first step to work with pandas is to import it

In [ ]:
import pandas as pd

pandas has two primary structures: Series and DataFrame. 

### DataFrame
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns. Each column of a DataFrame can be of a different type such as integers, floats, booleans, datetime or even object, which can hold any Python object. 

We will now cover the basic operations that can be done with a DataFrame

#### Creating a DataFrame
pandas provides multiple ways to create a DataFrame. 

**Examples:**
1. A DataFrame with only numerical values

In [ ]:
import numpy as np

data = np.array([[21, 184], [19, 168], [36, 178], [34, 175], [63, 159], [25, 165]]) #Data to be fed into the DataFrame is organized into a numpy array

# df is an abbrevation of DataFrame
df = pd.DataFrame(data=data, columns=["age", "height (cm)"])

# Show DataFrame
df

2. A DataFrame with columns of different types

In [ ]:
data = {
  "age": [21, 19, 36],
  "height (cm)": [184, 168, 178], 
  "name": ['John', 'Liz', 'Ben'] 
} #We use a dictionary

#load data into a DataFrame object:
df = pd.DataFrame(data)

df

Note that at the left most side of the table, there appears a list of numbers. This is because the DataFrame object creates this list to index the table. Alternatively, one can specify which column should be used as the table index.

In [ ]:
df.set_index('name', inplace = True)
df

In such case, the column of numbers dissapears and the provided column now acts as the index. 

Notice also, the use of the argument `inplace = True`. Many pandas operations do not modify the object. Instead, they generate a copy of it with the requested modifications. By using `inplace = True`, we make sure that our DataFrame object stored in `df` is directly modified. 

One can also reset the index:

In [ ]:
df.reset_index(inplace = True)
df

#### Accessing data
Accessing a single object returns a Series, which is a one-dimensional ndarray with axis labels.

In [ ]:
df["age"]

In [ ]:
df["name"]

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
#Return row 0
df.loc[0]

In [ ]:
#Return row 0 and 1
#use a list of indexes:
df.loc[[0, 1]]

Where there is an index defined, one can directly use the index to access a row:

In [ ]:
df.set_index("name", inplace = True) #Let's put the index back

df.loc["John"] #Get me John

In [ ]:
df.reset_index(inplace = True)

#### Adding columns

In [ ]:
df["sex"] = ["M", "F", "M"]
df["height (m)"] = df["height (cm)"] / 100

df

#### Removing columns

In [ ]:
df = df.drop(columns="height (m)")
df

In [ ]:
#### Adding Rows
df1= pd.DataFrame([[34, 175, 'F', 'Anna']],
                   columns=['age', 'height (cm)', 'sex', 'name'])
df = pd.concat([df, df1], ignore_index=True)
df

#### Boolean indexing
It is possible to select certain rows of a DataFrame by using Boolean expressions:

In [ ]:
# In the df DataFrame, show me only the rows in which the "sex" column is "F"
df[df["sex"] == "F"]

In [ ]:
# In the df DataFrame, show me only the rows in which the "sex" column is "M" AND (&) the "age" is below 30
df[(df["sex"] == "M") & (df["age"] < 30)]

#### Sorting

In [ ]:
# Sort values by age in ascending order
df.sort_values(by="age")

In [ ]:
# Sort values first by height, then by age in descending order
df.sort_values(by=["height (cm)", "age"], ascending=False)

In [ ]:
# Sort values first by sex, then by age and last by height in descending order
df.sort_values(by=["sex", "age", "height (cm)"], ascending=False)

## 3. I/O Operations
Pandas supports reading from and writing to many data formats, such as CSV, JSON, Pickle, Excel, and more.

Most often the data you will use during the course will be stored in a file, typically a CSV file. CSV files are text files with information separated by commas, saved with the extension .csv. They allow large amounts of detailed data to be transferred 'machine-to-machine', with little or no reformatting by the user.

In this tutorial, **we will focus only on the reading and writing of CSV files**. Please refer to the pandas documentation if you want to know more about how to deal with other types of files.

### Reading

Now we will load a dataset from [Kaggle](https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries?select=ds_salaries.csv) with information about data science job salaries.

The dataset contains the following columns:
* work_year - The year the salary was paid.
* experience_level - The experience level in the job during the year with the following possible values: EN Entry-level / Junior MI Mid-level / Intermediate SE Senior-level / Expert EX Executive-level / Director
* employment_type - The type of employement for the role: PT Part-time FT Full-time CT Contract FL Freelance
* job_title - The role worked in during the year.
* salary - The total gross salary amount paid.
* salary_currency - The currency of the salary paid as an ISO 4217 currency code.
* salaryinusd - The salary in USD (FX rate divided by avg. USD rate for the respective year via fxdata.foorilla.com).
* employee_residence - Employee's primary country of residence during the work year as an ISO 3166 country code.
* remote_ratio - The overall amount of work done remotely, possible values are as follows: 0 No remote work (less than 20%) 50 Partially remote 100 Fully remote (more than 80%)
* company_location - The country of the employer's main office or contracting branch as an ISO 3166 country code.
* company_size  - The average number of people that worked for the company during the year: S less than 50 employees (small) M 50 to 250 employees (medium) L more than 250 employees (large)

In [ ]:
df = pd.read_csv('data/ds_salaries.csv')

#We can use the function head to see the first 5 elements of the DataFrame. 
df.head()

In [ ]:
# To change the default value of 5, one just needs to specify a new value as argument
df.head(20)

In [ ]:
#We can also see the last elements of the DataFrame using tail
df.tail()

### Exercise 1
Create a new column where the salary is expressed in bitcoins. Denote the column salary_in_btc.

Conversion Rule: 1 USD = 0.000053 BTC

In [ ]:
#Your code here

df.head()

### Exercise 2
Find all the jobs that earned less than 20000 USD in 2022

In [ ]:
#Your code here

### Writing
When writing into disc a CSV file, one needs to be careful specifying if the index should be written as well. This is particularly important when the DataFrame is not using any of its columns as an index (as in the example above).

In [ ]:
df.to_csv("data/ds_salaries_with_bitcoin.csv", index=False) #Notice that index is set to false to avoid that the index used internally by the DataFrame is wirtten to disc.

## 4. Exploratory Data Analysis with pandas
One of the first steps of every machine learning project is to explore the data that you will be working with. It helps us understand how our data looks like, and how it can be processed and manipulated into something meaningful. pandas offers a large set of powerful tools for the task. 

This section summarizes some of these functions.

### Data Preview
Sometimes DataFrames are too big and cannot be fully displayed. As we previously saw, functions like `head()` and `tail()` can provide a quick view of the first and last elements. In addition to these, `sample` can display a random set of elements. In summary:

* `head(n)` returns the first n rows
* `tail(n)` returns the last n rows
* `sample(n)` returns a random sample  of size n of the rows 
* `sample(frac=m)` returns a fraction m of the total number of rows

In [ ]:
df.sample(5)

In [ ]:
df.sample(frac=0.1)

### DataFrame information and Statistics
* `shape` as in NumPy provides information about the number of rows and columns of the DataFrame
* `info()` prints a concise summary of the DataFrame. It gives, for each column, its type and the number of columns that are non-null (not NaN). It also provides the memory usage of the DataFrame.
* `describe()` generates descriptive statistics, such as the mean, standard deviation, mean, max and quartiles for numerical columns (default). By using the argument `include="all"` it also provides statistics for non-numerical columns (e.g top value, frequency or count).

In [ ]:
print(f'DataFrame shape: {df.shape}\n')
print(f'General info:')

df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

### Plotting
Plotting is a very powerful tool to perform data inspection. pandas offer plotting functionality with the .plot functions, which wrap-around matplotlib.pyplot's plot().

In this tutorial, two minimal examples will be presented for illustration purposes. More info about plotting with pandas can be found at: https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

In [ ]:
#plots the salary (in USD) as a function of the experience level
df.plot.scatter(x="experience_level", y="salary_in_usd", alpha=0.5)

In [ ]:
#Histogram of the salary (USD) using 20 bins
df["salary_in_usd"].hist(bins=20)

## 5. Other Resources

* [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Pandas User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)
* [API Reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html)
* [W3School Pandas Tutorial](https://www.w3schools.com/python/pandas/)
* [Pandas Kaggle Course](https://www.kaggle.com/learn/pandas)